* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
:root {
  --primary: #f98866;
  --secondary: #fff2d7;
  --secondary-hover: #c2540c;
  --max-screen-width: 1420px;
  --button-padding: 0.5rem 1rem;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Assets/Font/roboto-bold-webfont.woff2') format('woff2'),
       url('/Assets/Font/roboto-bold-webfont.woff') format('woff');

font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Assets/Font/roboto-light-webfont.woff2') format('woff2'),
  url('/Assets/Font/roboto-light-webfont.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Assets/Font/roboto-light-webfont.woff2') format('woff2'),
  url('/Assets/Font/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
}
.main-navBar {
  background-color: var(--primary);
  padding-inline: 0.5rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.main-navBar > .nav-header {
  display: flex;
  justify-content: space-between;
}

.main-navBar > .nav-header > a > img {
  border-radius: 50%;
}

.navbar-menu {
  display: flex;
  width: 100%;

}

.navbar-item {
  margin: auto;
  display: block;
  list-style: none;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  color: var(--secondary);

}

.navbar-links {
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color: var(--secondary);
}
.navbar-links:hover {
  color: var(--secondary-hover);
}
.hamburger-menu {
  display: none;
}
@media (max-width: 780px) {
    .main-navBar,
    #navbar_menu {
      flex-direction: column;
    }
    .hamburger-menu {
      display: block;
      cursor: pointer;
    }
    .navbar-menu {
      display: none;
    }
    .navbar-item {
      padding-block: 0.5rem;
    }
  
    /* To display the block on HamBurger Menu Click */
    .activeElement {
      display: block !important;
    }
}