*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
:root{
    --primary:#f98866;
    --secondary:#FFF2D7;
    --secondary-hover:#c2540c;
    --max-screen-width:1320px;
}
body{
    max-width: var(--max-screen-width);
    margin: auto;
    background-color: var(--secondary);
}

.main-navBar{
  background-color: var(--primary);
  padding-inline:0.5rem ;
  display: flex;
}

.main-navBar>.nav-header{
    display: flex;
    justify-content: space-between;
}

.main-navBar>.nav-header>a>img{
border-radius: 50%;
}

.navbar-menu{
    display: flex;
    width: 100%;
}


.navbar-item{
    margin: auto ;
   list-style: none;
   font-size: larger;
   font-weight: bolder;
   text-align: center;
}

.navbar-links{
    text-decoration: none;
    color: var(--secondary);
}
.navbar-links:hover{
    color: var(--secondary-hover);
}
.hamburger-menu{
  display: none;
}

main>.hero-image{
    width: 100%;
    height: 28rem;
    /* height:; */
}
.hero-image{
  position: relative;
}
.hero-image>img{
    width: 100%;
    height: 100%;
}
.hero-content{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 22%;
    right: 25%;
}
.hero-title{
    width: 80%;
    font-size: 3rem;
    word-wrap: break-word;
    color: var(--secondary);
    font-weight: bold;
}
.hero-content>button{
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    background-color: transparent;
}
.hero-content>button:hover{
    cursor: pointer;
    background-color: var(--primary);
}
/* Featured Section */
.featured-section{
    padding-top:2.8rem;
    padding-inline:6rem;
}
.featured-section-title{
 padding-bottom: 0.5rem;
 display: flex;
 position: relative;
 justify-content: center;
}

.featured-section-overlay{
   position: absolute;
   top: -80%;
   background-color: white;
   padding-inline:0.4rem ;
   font-size: xx-large;
   font-weight: 900;
}
.featured-section-border-varaiant1 {
    flex: 1;
    border-image: linear-gradient(to right, #ffffff 0%, #bebaba 100%) 1;
    border-width: 2px 0 0 0;
    border-style: solid;
    padding: 5px;
  }
  .featured-section-border-varaiant2 {
    flex: 1;
    border-image: linear-gradient(to left, #ffffff 0%, #bebaba 100%) 1;
    border-width: 2px 0 0 0;
    border-style: solid;
    padding: 5px;
  }

  .feature-channels-container{
    display: flex;
    max-width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding-top : 2rem;
  }
.feature-channels-container>div{
    width: 60px;
    aspect-ratio: 1/1;
}

.about-section{
    max-width: var(--max-screen-width);
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    padding-top:2.8rem;
    padding-inline: 6rem;

}
.about-image{
    border: 2px solid red;
    min-width: 20rem;
    max-width: 24rem;
    height: 24rem;
    margin-inline: auto;
}
.about-image>img{
    width:100% ;
    height: 100%;
    padding-top: 2.8rem;
}
.about-content{
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    justify-content: flex-start;
    gap: 1rem;
    font-weight: lighter;
    padding-inline: 1rem;
}
.about-content>button{
    max-width: fit-content;
    padding:0.6rem 1.2rem ;
    border-radius: 1rem;
}


/* Resposnive */
@media (max-width:780px){
    .main-navBar,#navbar_menu{
        flex-direction:column;
    }
    .hamburger-menu{
        display: block;
         cursor: pointer;
      }
      .navbar-menu{
        display: none;
      }
      .navbar-item{
        padding-block: 0.5rem;
      }
 
      /* To display the block on HamBurger Menu Click */
      .activeElement{
        display: block !important;
        }
        .hero-content{
           left: 14%;
           right: 10%;
        }  
        .about-section{
            flex-direction: column;
        }
        .featured-section{
            padding-inline:1rem
        }
    

}

@media(max-width:640px){
   
}