* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
:root {
  --primary: #f98866;
  --secondary: #fff2d7;
  --secondary-hover: #c2540c;
  --max-screen-width: 1420px;
  --button-padding: 0.5rem 1rem;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Font/roboto-bold-webfont.woff2') format('woff2'),
       url('./Assets/Font/roboto-bold-webfont.woff') format('woff');

font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Font/roboto-light-webfont.woff2') format('woff2'),
  url('./Assets/Font/roboto-light-webfont.woff') format('woff');
  font-weight: lighter;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Font/roboto-regular-webfont.woff2') format('woff2'),
  url('./Assets/Font/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
}
body {
  max-width: var(--max-screen-width);
  margin: auto;
  background-color: var(--secondary);
}

.hero {
  padding-top: 4rem;
}
.hero-image {
  width: 100%;
  padding: 12rem;
  background-image: url('./images/Webp/landing-Page-Main.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  & h1{
      width: fit-content;
      margin: auto;
      font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: xx-large;
  }
}
.hero-content > button {
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
  background-color: transparent;
}
.hero-content > button:hover {
  cursor: pointer;
  background-color: var(--primary);
}
/* Featured Section */
.featured-section {
  padding-top: 2.8rem;
  padding-inline: 6rem;
}
.featured-section-title {
  padding-bottom: 0.5rem;
  display: flex;
  position: relative;
  justify-content: center;
}
.featured-section-overlay {
  position: absolute;
  top: -80%;
  background-color: white;
  padding-inline: 0.4rem;
  font-family: 'Roboto',sans-serif;
  font-size: xx-large;
  font-weight: bold;
}
.featured-section-border-varaiant1 {
  flex: 1;
  border-image: linear-gradient(to right, #ffffff 0%, #bebaba 100%) 1;
  border-width: 2px 0 0 0;
  border-style: solid;
  padding: 5px;
}
.featured-section-border-varaiant2 {
  flex: 1;
  border-image: linear-gradient(to left, #ffffff 0%, #bebaba 100%) 1;
  border-width: 2px 0 0 0;
  border-style: solid;
  padding: 5px;
}
.feature-channels-container {
  display: flex;
  max-width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding-top: 2rem;
}
.feature-channels-container > div {
  width: 60px;
  aspect-ratio: 1/1;
}

/* About Section */
.about-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.4rem 0.8rem;
  gap: 2rem;
}
.about-me {
  padding-top: 4rem;
  min-width: 18rem;
  max-width: 24rem;
}
.about-me > img {
  box-shadow: 10px 25px 25px -15px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  width: 100%;
}
.about-me > img:hover {
  filter: grayscale(40%);
}
.about-content {
  min-width: 14rem;
  max-width: 29rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  & h2{
    font-family: 'Roboto',sans-serif;
  font-size: larger;
  font-weight: bold;
  }

  & p{
    font-family: 'Roboto',sans-serif;
  font-size: medium;
  font-weight: normal;
  }
}

.about-content > button {
  width: fit-content;
  padding: var(--button-padding);
  border-radius: 1.2rem;
}

/* Contact Card */
.contact-image-container {
  padding-top: 4rem;
  position: relative;
}
.contact-image-container > img {
  width: 100%;
  height: 31rem;
}

.contact-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 42%;
  text-align: center;
  bottom: 35%;
  left: 28%;
  color: white;

  & p{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: larger;
  }
}
.contact-details > h2 {
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: whitesmoke;
}

/* Resposnive */
@media (max-width: 780px) {

  /* .hero-content {
    left: 14%;
    right: 10%;
  } */
   .hero-image{
    padding: 12rem 0rem;
   }
   .hero-content{
    & h1{
      font-size: x-large;
    }
   }
  .featured-section {
    padding-inline: 1rem;
  }

}
