/* Hero Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #f98866;
  --secondary: #fff2d7;
  --secondary-hover: #c2540c;
  --max-screen-width: 1420px;
  --button-padding: 0.5rem 1rem;
  --white: white;
}

body {
  max-width: var(--max-screen-width);
  margin: auto;
}
main {
  padding-top: 4rem;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero {
  padding: 1.4rem 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 0.8rem;
  & p:last-child {
    padding-bottom: 2rem;
  }
  p{
    text-align: start;
  }
}
/* Gadget Items */
.gadget-description-container {
  width: 100%;
  & h2 {
    padding-bottom: 0.8rem;
  }
}
.gadget-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  border: 1px solid black;
  max-width: 95%;
  margin: auto;
  margin-bottom: 0.4rem;
  padding:0.6rem 0.4rem;
}
.gadget-items-opninon {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: space-between;
  padding: 0.4rem;
  & p{
    max-width: 34rem;
    min-width: 17rem;
  }
}
.gadget-items-photos {
  margin: auto;
}

@media (max-width: 780px) {
  .gadget-items-opninon {
    width: 100%;
  }
}
